@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");


span.Resizer.vertical{

  cursor: col-resize;
  width: 10px;
  background: #FFCD00;
  min-height: 20px;
}

span.Resizer.horizontal{
  cursor: row-resize;
  width: 20px;
  background: black;
  height: 20px;
}

