.Overlay {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 300px;
    height: auto;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(0%);
    transition: transform 0.25s ease-in-out;
    z-index: 100;
}

.Overlay.active{
    transform: translateX(100%);
}

.Header {
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    text-align: center;
}

.LeftSideWidget {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: linear-gradient(to bottom, #1E5A7E, #2E7DA8, #439BCF, #6EAFD1);
    border-radius: 0px 0px 10px 0px;
    box-shadow: 0 4px 6px rgba(145, 141, 141, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    position: relative;
    font-family: 'Bebas Neue', sans-serif;
}

.LeftSideWidget {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    z-index: 10;
    transform: translateX(0%);
    transition: transform 0.25s ease-out;
}

.LeftSideWidget.hidden {
    transform: translateX(-100%);
}

.Control-Container{
    display: flex;
    flex-direction: row;
    border: 5px solid #CCAA00;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    background-color:#FFCD00;
    padding: 0px 10px 0px 10px;
    font-family: 'Bebas Neue', sans-serif; 
}

.Start-Container{
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    background-color:#FFCD00;
    padding: 0px 10px 0px 10px;
    font-family: 'Bebas Neue', sans-serif;
}

.List-Container{
    border: 5px solid #CCAA00;
    border-radius: 5px;
    font-family: 'Bebas Neue', sans-serif;
}

.Toggle {
    position: absolute;
    right: -10px;
    top: 0px;
    width: 10px;
    height: 200px;
    background: linear-gradient(#1E5A7E,#2E7DA8);
    color: #fff;
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
}

.LeftSideWidget {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    gap: 10px;
    padding: 10px;
}

.LeftSideWidget > div:nth-child(2) {
    grid-column: 1 / -1;
}

.LeftSideWidget > div:nth-child(3) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

select {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #FFCD00;
    border: 2px solid #CCAA00;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
}

select:hover {
    border-color: #C69214;
    background: #C69214;
}

select:focus {
    outline: none;
    border-color: #0056b3;
}

option {
    padding: 8px;
    background: #FFCD00;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

option:hover{
    background-color: #C69214;
    color: white;
}

button {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #FFCD00;
    border: 2px solid #CCAA00;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Bebas Neue', sans-serif;
}

button:hover {
    background-color: #C69214;
    border-color: #C69214;
}

button:focus {
    outline: none;
    border-color: #0056b3;
}

.Transport-Container label {
    color: white;
    font-family: 'Bebas Neue', sans-serif;
}

.Transport-Container select {
    background-color: #FFCD00;
    border: 2px solid #CCAA00;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    padding: 8px 16px;
    font-size: 16px;
}

.Transport-Container option {
    background-color: #FFCD00;
    color: white;
}