/* Navbar.css */

.navbar-container {
  padding-top: 0px;  /* Smaller devices */
  padding-bottom: 0px;
}

@media (min-width: 768px) { /* Example for medium devices */
  .navbar-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}


.nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}
  
.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
  